@import url(bootstrap.css);
html, body { height: 100%; }
.full-height { height: 100%; }
td { height: 5em; }
.basic { background-color: red; color: white; }
.pro   { background-color: green; color: white; }
.ultra { background-color: blue; color: white; }
#intro {
  background-image: url(../images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#intro-jumbo {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgba(200, 200, 200, 0.5);
}
